
<div class="grid gap-6 bg-gray-100 p-4 rounded-lg md:grid-cols-2 lg:grid-cols-3">

  {{#each recomLoop}}

    <div class="bg-white border border-black-400 rounded-lg shadow-md overflow-hidden text-gray-900">

      <div class="p-6">

        <h3 class="text-lg font-semibold text-black-800 mb-2 uppercase"> {{city}} </h3>

        <p class=" mb-4">

          <span class="font-bold">Place: </span> {{place}}

        </p>  

        <p class=" text-sm">

          {{description}}

        </p>
        <p class=" text-sm"><b>Posted By: </b>{{user.name}} <b> On </b> {{date_created}}</p>

      </div>

 <div class="flex justify-end px-6 py-4 bg-gray-50">

  <button 
    class="bg-red-500 hover:bg-red-600 text-white font-medium py-2 px-4 rounded mr-2"
    id="remove_Btn" 
    data-id="{{id}}">
    Remove
  </button>

  <button
    class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded" 
    id="edit_Btn"  data-id="{{id}}">
    <svg class="w-5 h-5 inline-block" fill="currentColor" viewBox="0 0 20 20">
      <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
    </svg>
    Edit
  </button>

</div>

    </div>

  {{/each}}

</div>

<script src="/js/delete_btn.js"></script>

