<div class="body row ">
    <div class="flex-row align-center pt-4 mx-auto bg-primary w-5/6">
        <div class= "mb-8 p-4 border border-gray-800 rounded-md bg-indigo-200">
            <h3 class="text-lg font-semibold mb-2">Welcome to JSON BOURNE'S Travel Hub!</h3>
            <p class="text-gray-700 text-base">
                The go-to place to share your places to go. Found any hidden gems in Genoa? A peaceful park in Paris?
                Now you can share your personal recommendations with other users, and save them to help plan 
                your trip.
            </p>
            <p class="text-gray-700 text-base">
                Sign-up or log in to gain full access - post recommendations, view by country, stats on the world map, and 
                more to come! What're you waiting for?!
            </p>
        </div>
    </div>
    
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-4">
            <div class="grid grid-rows-6 grid-flow-col gap-4 border border-gray-800 p-2 rounded-md">
                <div class="row-span-1 col-span-2">
                    <img class="object-cover" src="./svg/france.svg" alt="france">
                </div>
                <div class="bg-blue-500 text-white row-start-1 row-span-1 col-span-3 bg-blue-800 border rounded-md p-4 ">
                    <p ><b>FRANCE </b>has Europe’s highest mountain is Mont Blanc in the French Alps</p>
                </div>
                <div class="row-start-2 col-start-1 row-span-6 col-span-5 ">
                    <p class="font-bold text-lg">Top recommendations</p>
                    
                    {{#if franceRecommendations.length}}
                        {{#each franceRecommendations as |r|}}
                        <div class="p-1 text-sm ">
                            <p class="text-lg text-blue-900" href=""><b>Place: </b>{{r.place}}, <b>City:</b> {{r.city}} </P>
                            <p class="text-lg text-justify"><b>Description: </b>{{r.description}}</p>
                        </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <div class="grid grid-rows-6 grid-flow-col gap-4 border border-gray-800 p-2 rounded-md">
                <div class="row-span-1 col-span-2">
                    <img src="./svg/italy.svg" alt="italy">  
                </div>
                <div class=" row-start-1 row-span-1 col-span-3 bg-green-400 p-4 border rounded-md">
                    <p>In <b>ITALY</b> Tossing a coin in Trevi Fountain means you promise to return</p>
                </div>
                <div class="row-start-2 col-start-1 row-span-6 col-span-5 ">
                    <p class="font-bold text-lg">Top recommendations</p>
                    {{#if italyRecommendations.length}}
                        {{#each italyRecommendations as |r|}}
                        <div class="p-1 text-xs">
                            <p class="text-lg text-blue-900" href=""><b>Place: </b>{{r.place}}, <b>City:</b> {{r.city}} </p>
                            <p class="text-lg text-justify"><b>Description: </b>{{r.description}}</p>
                        </div>
                            
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <div class="grid grid-rows-6 grid-flow-col gap-4 border border-gray-800 p-2 rounded-md">
                <div class="row-span-1 col-span-2">
                    <img src="./svg/spain.svg" alt="spain">
                </div>
                <div class=" row-start-1 row-span-1 col-span-3 bg-yellow-500 p-4 border rounded-md ">
                    <p><b>SPAIN</b> has Over 8,000 Kilometers Of Coastline</p>
                </div>
                <div class="row-start-2 col-start-1 row-span-6 col-span-5 ">
                    <p class="font-bold text-lg">Top recommendations</p>
                    {{#if spainRecommendations.length}}
                        {{#each spainRecommendations as |r|}}
                        <div class="p-1 text-xs">
                            <p class="text-lg text-blue-900" href=""><b>Place: </b>{{r.place}}, <b>City:</b> {{r.city}} </p>
                            <p class="text-lg text-justify"><b>Description: </b>{{r.description}}</p>
                        </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div> 



